body {
background-color: black;
color: lime;

}

h1{
    text-align: center;
}
main {
    width: 60%;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;

} 
.chapter
{ background-color: black

}
